.bg-yellow {
    background-color: #F8FE85;

}
.box {
    margin: 50px;
}
h1 {
  text-align: center;
font-size: 4rem !important;   
    font-family: cursive !important;
}
h2 {
  text-align: center; 
    font-size: 3.5rem !important;  
    font-family: cursive !important;
}
p {
    font-size: 3rem !important; 
    font-family: cursive !important;
}
.text {
    text-align: center; 
}
a {
    color: black !important;
    text-decoration: none !important;
}



/* index */


.prevNext {
    width: 100%;
    background-color: #FF6464;
    padding: 2rem;
    text-align: center;
    border-style: none;
    
    color: white;
    position: relative;
  left: 0;
  bottom: 0;
}
.prevNext:hover{
    background-color: #5BE7A9;
    color: black;
}

.prevNexttable {
    width: 100%;
    bottom: 0;
}

.contentlist {
    align-content: center;
    border-color: black !important;
    border-style: dotted !important;
    border-radius: 10px;
}

.contentblock {
    
    padding: 1.5rem 2.5rem;
    margin: 0 10px;
}

.contentblock:hover {

    background-color: #FFBD67;
   
    padding: 1.5rem 2.5rem;
    margin: 0 10px;
}

}


/* Origin of music */


.originimg {
    max-width: 30px;
    max-height: 30px;
}

.center {
    text-align: center;
}

.tablehover:hover {
    background-color: #FF6464;
    padding: 2rem;
    border-radius: 10px;
    color: white;
}

.tablehover {
    padding: 2rem;
}

.evolution:hover {
    background-color: #5BE7A9;
    padding: 2rem;
    border-radius: 10px;
    color: black;
}

.evolution {
    padding: 2rem;
}


/* Sapthaswaras */

.purandara {
    
    border-radius: 10rem;
    border-color: #FF6464;
    border-style: dotted;
    border-width: 1rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5rem;
    padding: 3.5rem;
    border-collapse: separate;
}

.purandara:hover {
    background-color: #5BE7A9;
}

.swarablock:hover {
    background-color: #5BE7A9;
    padding: 5rem 5.5rem;
    border-radius: 100px;
    color: black;
}

.swarablock {
    padding: 5rem 5.5rem;
    background-color: #FF6464;
    color: white;
    border-radius: 100px;
    
}


.tableborder {
    border: 1rem dotted black; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    border-radius: 5rem;
    border-collapse: separate;
    padding: 5rem;
    margin-bottom: 5rem;
}

th {
    margin: 2rem !important;
    padding: 2rem !important;
} 

.swaranamegreen {
    padding: 2rem !important;
    background-color: #5BE7A9;
    padding: 10rem !important;
}

.swaranamegreen:hover{
    background-color: #FF6464;
}

.swaranameyellow {
    padding: 5rem !important;
    padding: 10rem !important;
}

.swaranameyellow:hover{
    background-color: #FF6464;
}





/* Prakruthi & Vikruthi swaras */

.praviktable {
    margin-top: 5.5rem;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0.5rem;
    
    border-radius: 5rem;
    border-collapse: separate;
    background-color: #FF6464;
    margin-bottom: 5rem;
}


.pravikcell {
 
    border-radius: 5rem;
    text-align: center;
    color: white;
    padding: 1.5rem 2rem;
}

.pravikcell:hover {
    background-color: #5BE7A9;
    color: black;
}


/* Sapthaswaras: Birds and animals */


.animalBird {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    border-spacing: 0.5rem;
    border-radius: 5rem;
    border-collapse: separate;
    border: 1rem dotted black;
    text-align: center;
    padding: 3rem;
    margin-bottom: 10rem;
    
    
}


.animalbirdcell {
 
    border-radius: 5rem;
    text-align: center;
    color: black;
    padding: 2rem !important;

}

.animalbirdcell:hover {
    background-color: #5BE7A9;
    color: black;
}

.animalbirdpic {
    max-height: 10rem;
    max-width: 10rem;
}



/* Sa Pa Sa */



/*.sapasatable {
    
    margin: 1rem;
    border-radius: 2rem;
    border-collapse: separate;
     border-spacing: 1.5rem;
    border: 0.5rem dotted black;
}
*/
/*.sapasacell {
    
 
    border-radius: 5rem;
    text-align: center;
    color: black;
    padding: 1.5rem 2rem;
} */
.sapasabtn {
    border-radius: 5rem;
    align-content: center !important;
    text-align: center;
    border: none;
    color: black;
    background-color: black;
    position: relative;
    
}

.sapasabtn:active {
     background-color: #FF6464;
}
.sapasabtn:focus {
     background-color: #FF6464;
}
.sapasabtnmain {
    padding: 2rem 3rem;
    border-radius: 10rem;
    border: none;
    background-color: #FFBD67;
}

.sapasabtnmain:focus {
    background-color: #5BE7A9;
}
.sapasamaintable {
    margin: 2.5rem auto;
    border-radius: 5rem;
    border-collapse: separate;
     border-spacing: 1rem;
    background-color: white;
    padding: 2rem;
    border: 0.5rem dotted black;
}

.shruthiAudio {
display: flex;
  justify-content: center;
  align-items: center;
    margin-bottom: 5rem;
}


/* Pancha Jathi */


.jathitable {
    margin: 5rem auto;
    border: 0.5rem dotted black;
    border-radius: 5rem;
    border-collapse: separate;
    text-align: center;
    padding: 2rem;
}

.jathith {
    border-bottom: 0.5rem dotted black;
    text-align: center;
}

.jathirow {
    padding: 1.5rem !important;
    border-radius: 5rem !important;
}
.jathirow:hover {
background-color: #5BE7A9;

}


/* Thala */

.thalatable {
    border: 0.5rem dotted black;
    border-radius: 5rem;
    margin: 5rem auto;
    padding: 2.5rem;
    border-collapse: separate;
    
}

.thalath {
    text-align: center;
    border-radius: 5rem !important;
}

.thalarow {
    padding: 1.5rem !important;
    border-radius: 5rem !important;
}
.thalarow:hover {
background-color: #5BE7A9;

}

.thalaeg {
    padding: 1.5rem !important;
    border-radius: 5rem !important;
    text-align: center;
}
.thalaeg:hover {
background-color: #5BE7A9;

}

.thalaegpic {
    max-height: 10rem;
    max-width: 10rem;
    margin: auto;
}

/* Adi Thala */ 


.aditalapic {
    max-height: 10rem;
    max-width: 10rem;
    margin: auto;
}

.aditalatable {
    border: 0.5rem dotted black;
    border-radius: 5rem;
    margin: 8rem auto;
    padding: 2.5rem;
    border-collapse: separate;
    
}

.aditalath {
    text-align: center;
    border-bottom: 0.5rem dotted black;
}

.aditalarow {
    padding: 1.5rem !important;
    border-radius: 5rem !important;
}
.aditalarow:hover {
background-color: #5BE7A9;

}


/* Sapthaswara Mayamalavagowla */

.Mayamalavaswaratable {
    margin: 2.5rem auto;
    border-radius: 5rem;
    border-collapse: separate;
     border-spacing: 1rem;
    background-color: white;
    padding: 2rem;
    border: 0.5rem dotted black;
}


.mayamalavaswarabtn {
    padding: 1rem 2rem;
    border-radius: 10rem;
    border: none;
    background-color: #FFBD67;
}

.mayamalavaswarabtn:focus {
    background-color: #FF6464;
}

.mayamalavaswarabtn:hover {
    background-color: #5BE7A9;
}